body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  color: $text-color-base;
  text-shadow: $text-shadow;

  @media (max-width: 767.98px) {
    font-size: $font-size-base / 1.2;
  }

  @media (max-width: 575.98px) {
    font-size: $font-size-base / 1.7;
  }
}

.pokedex-main-panel {
  & > div:nth-child(2) {
    & > p {
      font-size: $font-size-base * 2;

      @media (max-width: 767.98px) {
        font-size: ($font-size-base * 2) / 1.5;
      }

      @media (max-width: 575.98px) {
        font-size: ($font-size-base * 2) / 1.7;
      }
    }
  }
}
