$text-color: #ffffff;

$pokedex-bg-color: #555555;
$pokedex-left-border-color: #777777;
$pokedex-top-border-color: #999999;
$pokedex-bottom-right-border-color: #333333;

$container-bg-color: #333333;
$container-top-right-border-color: #333333;
$container-bottom-left-border-color: #777777;
$container-shadow-color: #00000049;

$display-bg-color: #00a2ff;
$display-shadow-color: #ffffff6c;

$btn-inactive-bg-color: #202020;
$btn-active-bg-color: #111111;
$btn-inactive-text-color: #777777;
$btn-active-text-color: #ffffff;
$btn-top-left-border-color: #ffffff49;
$btn-bottom-right-border-color: #11111163;

$input-unfocused-bg-color: #555555;
$input-focused-bg-color: #777777;
$input-shadow-color-inset: #000000b9;
$input-shadow-color: #ffffff31;

$pill-normal-color: #a09b87;
$pill-fighting-color: #7c3e21;
$pill-flying-color: #84a3ec;
$pill-poison-color: #752e9e;
$pill-ground-color: #fbe57f;
$pill-rock-color: #9b9942;
$pill-bug-color: #a0ee22;
$pill-ghost-color: #8b61ff;
$pill-steel-color: #afafaf;
$pill-fire-color: #f6461a;
$pill-water-color: #61c0ff;
$pill-grass-color: #66ff61;
$pill-electric-color: #ffff00;
$pill-psychic-color: #fb50ba;
$pill-ice-color: #b0eaf5;
$pill-dragon-color: #5f31f8;
$pill-dark-color: #6b3b24;
$pill-fairy-color: #fbb2f8;
$pill-unknown-color: #444444;
$pill-shadow-color: #5f5f5f;

$bar-bg-color: #202020;
$bar-shadow-color-inset: #000000b9;
$bar-shadow-color: #ffffff31;

$bar-fill-shadow-inset: #ffffff46;

$bar-fill-hp-color: #fd2c2c;
$bar-fill-attack-color: #2b27fd;
$bar-fill-defense-color: #3ba725;
$bar-fill-speed-color: #faf754;
$bar-fill-special-attack-color: #42c9ff;
$bar-fill-special-defense-color: #3bfcac;
