.pill {
  border: 0.2em solid #ffffff;
  border-radius: 1em;
  width: 50%;
  min-width: min-content;
  padding: 0.25em;
}

.pill-normal {
  background: $pill-normal-color;
}

.pill-fighting {
  background: $pill-fighting-color;
}

.pill-flying {
  background: $pill-flying-color;
}

.pill-poison {
  background: $pill-poison-color;
}

.pill-ground {
  background: $pill-ground-color;
}

.pill-rock {
  background: $pill-rock-color;
}

.pill-bug {
  background: $pill-bug-color;
}

.pill-ghost {
  background: $pill-ghost-color;
}

.pill-steel {
  background: $pill-steel-color;
}

.pill-fire {
  background: $pill-fire-color;
}

.pill-water {
  background: $pill-water-color;
}

.pill-grass {
  background: $pill-grass-color;
}

.pill-electric {
  background: $pill-electric-color;
}

.pill-psychic {
  background: $pill-psychic-color;
}

.pill-ice {
  background: $pill-ice-color;
}

.pill-dragon {
  background: $pill-dragon-color;
}

.pill-dark {
  background: $pill-dark-color;
}

.pill-fairy {
  background: $pill-fairy-color;
}

.pill-unknown {
  background: $pill-unknown-color;
}

.pill-shadow {
  background: $pill-shadow-color;
}
