.pokedex {
  background-color: $pokedex-bg-color;
  color: $text-color;
  font-size: 1rem;
  text-align: center;
  border-top: 0.2em solid $pokedex-top-border-color;
  border-left: 0.2em solid $pokedex-left-border-color;
  border-bottom: 0.2em solid $pokedex-bottom-right-border-color;
  border-right: 0.2em solid $pokedex-bottom-right-border-color;
}

.pokedex-main-panel {
  & > div {
    background-color: $container-bg-color;
    border-top: 0.15em solid $container-top-right-border-color;
    border-right: 0.15em solid $container-top-right-border-color;
    border-left: 0.15em solid $container-bottom-left-border-color;
    border-bottom: 0.15em solid $container-bottom-left-border-color;
    box-shadow: 0 0 0.15em 0.15em $container-shadow-color inset;
  }

  & > div:nth-child(2) {
    background-color: $display-bg-color;
    box-shadow: 0 0 0.5em 1em $display-shadow-color inset,
      0 0 0.5em 0.25em $display-shadow-color inset;

    & > p {
      display: none;
      font-size: $font-size * 2;
    }

    & > img {
      width: 50%;
      height: 100%;
    }
  }
}

.pokedex-secondary-panel {
  background-color: $container-bg-color;
  border-top: 0.15em solid $container-top-right-border-color;
  border-right: 0.15em solid $container-top-right-border-color;
  border-left: 0.15em solid $container-bottom-left-border-color;
  border-bottom: 0.15em solid $container-bottom-left-border-color;
  box-shadow: 0 0 0.15em 0.15em $container-shadow-color inset;
  padding: 0 1em;
}
